_build/build.config.php
config.core.php
.idea
.settings
nbproject
.project
crowdin.yaml
_packages/*.*
!_packages/.gitignore
!_packages/*.zip

node_modules
npm-debug.log
.sass-cache

core/components/collections/model/vendor