@import "tabulator-tables/dist/css/tabulator_bulma.min.css";

$white: #FEFEFE;
.fred--modal-body{
  .tabulator {
    min-height: 300px;
    .tabulator-header{
      background-color: #f1f1f1;
    }
  }
  fieldset, .fred--collections-filters {
    vertical-align: top !important;
    margin-bottom: 16px !important;
  }
}
.fred--collections-sidebar:before {
  mask: url('./bars-solid.svg') center center no-repeat;
}
.fred--btn-wrapper {
  position: absolute;
  top: 12px;
  right: 60px;
}
.fred--btn{
  &-collections{
    &-newpage{
      margin-left: 8px !important;
    }
    &-icon{
      padding: 2px !important;
      margin: 0 !important;
      text-indent: -9999px !important;
      position: relative !important;
      background-color: transparent !important;
      height: 24px !important;
      width: 24px !important;
      &:before{
        content: "";
        position: absolute;
        display:inline-block;
        top: 2px;
        left: 2px;
        //padding: 6px 6px;
        height: 100%;
        width: 100%;
        color: #FEFEFE;
        background-color: #505050;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 14px;
        border-radius: 4px;
      }
    }
    &-edit:before{
      //background-image: inline-svg('edit', $white);
      background-image: svg-load('edit.svg');
      background-position: 6px;
    }
    &-publish:before{
      //background-image: inline-svg('eye', $white);
      background-image: svg-load('eye.svg');
    }
    &-unpublish:before{
      //background-image: inline-svg('eye-slash', $white);
      background-image: svg-load('eye-slash.svg');
    }
    &-delete:before{
      background-color: #dc3838;
      //background-image: inline-svg('trash', $white);
      background-image: svg-load('trash.svg');
    }
    &-undelete:before{
      //background-image: inline-svg('trash-restore', $white);
      background-image: svg-load('trash-restore.svg');
    }
  }
}
@media screen and (min-width: 768px){
  .fred .fred--modal .fred--collections-filters{
    label{
      display: inline-block;
      width: calc(100% / 3);
      padding: 0 8px;
    }
  }
  .fred--collections-createpage {
    fieldset{
      & > label, & > div:not(.fred--btn-wrapper) {
        display: inline-block !important;
        width: calc(100% / 3) !important;
        padding: 0 8px !important;
      }
      //& > div{
      //  position: relative !important;
      //  top: -5px !important;
      //}
      & > button{
        display: inline-block !important;
        width: calc(24% / 2) !important;
      }
    }
  }
}
.fred--collections-createpage,
.fred--collections-filters,
.fred--modal-body .tabulator{
  animation: fred--collections-fade .5s;
}

@keyframes fred--collections-fade {
  0%{opacity:0}
  100%{opacity:1}
}
